.catalog_bg {
    background-image: url(../img/catalog-bg.jpg);
    height: 400px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.catalog__main_title {
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    line-height: 70px;
    color: #FFFFFF;
    margin-top: 127px;
}
.sort_box {
    display: flex;
    justify-content: space-between;
    margin-bottom: 32px;
}
.sort_box_nav {
    display: flex;
    align-items: center;
}

.breadcrumbs__link {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: #000000;
    &:not(:last-child)::after{
        content: '/';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 32px;
        color: #000000;
        padding-left: 10px;
        padding-right: 10px;
    }
}

.select {
    width: 288px;
    position: relative;
    &::after {
        content: '';
        position: absolute;
        display: block;
        background-image: url(../img/selector.svg);
        background-repeat: no-repeat;
        pointer-events: none;
        width: 20px;
        height: 11px;
        top: 40%;
        right: 14px;
    }
    &::before {
        content: 'Порядок:';
        position: absolute;
        top: 25%;
        left: 14px;
        pointer-events: none;
    }
    & select {
        display: block;
        width: 100%;
        height: 41px;
        border: 1px solid #C4C4C4;
        border-radius: 20px;
        padding-left: 94px;
        padding-right: 38px;
        outline: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        color: #000000;
    }
}

.more {
    width: fit-content;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-decoration-line: underline;
    color: #000000;
    margin-top: 32px;
}
.more:hover {
    cursor: pointer;
}