@media (max-width: 767px) {
    .center {
        padding-left: 16px;
        padding-right: 16px;
    }
    .main-margin {
        margin-bottom: 32px;
    }
    .header {
        border: none;
        padding-top: 50px;
        & form, .nav_box {
            display: none;
        }
        &__logo {
            width: 99px;
            height: 22px;

        }
        &__nav_mobile {
            display: flex;
            gap: 32px;
        }
        
    }
    .main__title {
        font-size: 48px;
        line-height: 59px;
    }
    .main__text {
        font-size: 16px;
        line-height: 32px;
    }

    .link__catalog {
        font-size: 14px;
    }

    .top section {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
    }
    
    .for {
        grid-template-columns: repeat(1, 1fr);
        gap: 16px;
        margin: auto;
        &__subtitle {
            font-size: 24px;
            line-height: 29px;
        }
        &__item {
            grid-column: 1 / -1;
            height: 374px;
            font-size: 28px;
            line-height: 34px;

        }
        &__item_big {
            height: 243px;
        }
    }

    .subtitle__productBox {
        font-size: 24px;
        line-height: 29px;
    }
    .product_content {
        row-gap: 32px;
        justify-content: center;
    }
    .name_product {
        font-size: 18px;
        line-height: 22px;
    }
    .new__price, .old__price {
        font-size: 18px;
        line-height: 22px;
    }
    .footer {
        padding-bottom: 32px;

        &__info {
            gap: 100px;
        }

        &__content {
            gap: 34px;
            justify-content: center;
        }
    }

    .form {
        align-items: center;
    }

    .catalog__main_title {
        font-size: 48px;
        line-height: 59px;
        text-align: center;
        margin-top: 100px;
    }
    .sort_box {
        flex-direction: column;
        gap: 16px;
    }

    .cart_title {
        font-size: 48px;
        line-height: 59px;
        margin-top: 100px;
        text-align: center;
    }

    .cart_box {
        justify-content: center;
        margin-bottom: 48px;
    }
    .cart__image {
        display: none;
    }
    .cart__button {
        margin-bottom: 48px;

        & button {
            width: 166px;
            font-size: 12px;
            line-height: 15px;
        }
    }
}