@media (max-width: 1260px) {
    .center {
        padding-left: calc(50% - 786px / 2);
        padding-right: calc(50% - 786px / 2);;
    }
    .for__item {
        height: 265px;
    }
    .product_content {
        column-gap: 29px;
        row-gap: 38px;
    }
    .footer__logo {
        display: none;
    }
    .cart_box {
        gap: 0;
    }
    .cart__button {
        margin-bottom: 64px;
        margin-top: 0;
    }
}

@media (min-width: 768px) and (max-width: 833px) {
    .center {
        padding-left: 24px;
        padding-right: 24px;
    }
    .product {
        width: 47%;
    }
}