.catalog_bg {
    background-image: url(../img/catalog-bg.jpg);
    height: 400px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.catalog__main_title {
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    line-height: 70px;
    color: #FFFFFF;
    margin-top: 127px;
}
.sort_box {
    display: flex;
    justify-content: space-between;
    margin-bottom: 32px;
}
.sort_box_nav {
    display: flex;
    gap: 10px;
    align-items: center;
}
.sort_btn {
    display: flex;
    gap: 33px;
    height: 41px;
    align-items: center;
    border: 1px solid #C4C4C4;
    border-radius: 20px;
    padding-left: 14px;
    padding-right: 14px;
}
.sort_text {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
}
.sort__link {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: #000000;
}

.more {
    width: fit-content;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-decoration-line: underline;
    color: #000000;
    margin-top: 32px;
}
.more:hover {
    cursor: pointer;
}